body,
html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%    ;
}

body{
    flex: 1;
}

/*-------------- INICIO HEADER -----------------*/

header .header-content {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    background: #1c1f2a;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .header-content .logo {
    height: 100px;
    margin-right: 30px;
}


/*-------------- FIN HEADER -----------------*/

/*-------------- INICIO NAV -----------------*/

nav .descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura al 100% del viewport height */
    background-image: url('assets/images/banner.png');
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}

nav .descripcion h2 {
    margin-top: 50px;
    color: #1c1f2a;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 50%;
    line-height: 1;
    font-size: 3vw; /* Usa unidades relativas para el tamaño del texto */
    font-weight: 800;
}

nav .descripcion h2 span {
    margin-left: 15px;
    color: #f7bf22;
}

nav .descripcion h2 p{
    font-weight: 300;
    margin-top: 30px;

}

nav .descripcion .busqueda {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

nav .descripcion .busqueda .input {
    font-size: 16px;
    width: 400px;
    border: none;
    padding: 10px 15px;
    background: none;
    outline: none;
    color: #333;
}

nav .descripcion .busqueda .botonBusqueda {
    background: #1c1f2a;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav .descripcion .busqueda .botonBusqueda:hover {
    background: #f7bf22;
    color: #fff;
}

/*-------------- FIN NAV -----------------*/



/*------------------ INICIO DE CARD -----------------*/

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #FFF;
}

.card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
    height: 200px;
    width: 100%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-info h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    text-align: left;
}

.card-info p {
    font-size: 14px;
    color: #666;
    text-align: left;
    flex-grow: 1;
}

.price {
    font-size: 20px;
    color: #e91e63;
    text-align: left;
}

.card-info .product-button {
    padding: 15px;
    background-color: #1c1f2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

.card-info .product-button:hover {
    background: #f7bf22;
    color: #1c1f2a;
}

/*------------------ FIN DE CARD -----------------*/

/*------------------------------- INICIO PAGINA PRODUCTOO ---------------------------------*/

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    padding: 0 5%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/*-------- INICIO FILTROS ----------*/
.product-content .filtros {
    display: none;
    margin-right: 20px;
}



.filtro-section {
    background-color: none;
    padding: 30px;
    margin-bottom: 20px;
}

.filtro-section .label-title {
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    color: #1c1f2a;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
}

.filtro-section label {
    padding: 10px;
    background-color: #f7bf22;
    border-radius: 5px;
    margin: 5px 0;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtro-section input[type="radio"],
.filtro-section input[type="checkbox"] {
    display: none;
}

.filtro-section input[type="radio"]:checked+label,
.filtro-section input[type="checkbox"]:checked+label {
    background-color: #1c1f2a;
    color: white;
}

.filtro-section label:hover {
    background-color: gray;
}

.filtro-section input[type="checkbox"]:checked+label {
    background-color: #1c1f2a;
    color: white;
}
/*--------- FIN FILTRO -----------*/


#searchResultText {
    display: none;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    color: #1c1f2a
}



/*------- INICIO PAGINACION --------*/

#paginacion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color:#FFF;
    border-top: 1px solid #fff;
}

.page-button {
    padding: 12px 20px;
    margin: 0 10px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.page-button:hover {
    background-color: #f7bf22;
    transform: scale(1.1);
}

.page-button.active {
    background-color: #f7bf22;
}

/*----- FIN PAGINATION ------*/

/*------------------------------- FIN PAGINA PRODUCTYO ---------------------------------*/


/*-------------- INICIO FOOTER -----------------*/
footer {
    background-color: #1c1f2a;
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    display: flex;
    justify-content: center;
}
footer p span{
    margin: 0 5px;
    color: #f7bf22;
}
/*-------------- FIN FOOTER -----------------*/

